<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="p-10">
            <a class="text-blue-500" href="/">go back</a>
            <form action="/edit" method="post">
                <input class="block px-5 py-2 bg-zinc-800 rounded-lg text-white mt-3 w-1/4" placeholder="previous name" name="previousname" type="text" value="<%= filename %>">    
                <input class="block px-5 py-2 bg-zinc-800 rounded-lg text-white mt-3 w-1/4" placeholder="new name" name="newname" type="text">  
                <input type="submit" value="update" class="bg-yellow-500 px-2 py-3 rounded-lg mt-3 cursor-pointer text-xl"> 
            </form>
        </div>
    </div>
</body>
</html>